.oh{
    overflow: hidden;
}

.ac{
    text-align: center;
}

.df{
    display: flex;
}
.dfc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m0a{
    margin: 0 auto;;
}


/////////////////////////////////////////////////////////////////



*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
input, 
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus,
button,
button:active,
button:focus,
label,
label:active,
label:focus{
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
    color: $text-color;
    font-size: 18px;
    line-height: 20px;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 400;
}

input,
select,
textarea {
    font-family: $f400;
}

p{
    margin: 0 0 16px;
}

img{
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a *,
a:hover,
a:focus,
a:visited,
a:active{
    text-decoration: none;
    position: relative;
    transition: $transition;
    color: $text-color;
}

ul{
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 16px 0;
    padding: 0;
}

b, strong{
    font-family: $f700;
}

i{
    font-style: italic;
}

table{
    border: 1px solid $text-color;;
    border-collapse: collapse;
    margin: 12px 0 12px;
    width: 100%;
}

table th{
    font-weight: bold;
}

table th, table td{
    border: 1px solid $text-color;;
    padding: 8px;
}







