@media only screen and (min-width: 768px) {
    .nav {
        height: 84px;
        display: flex;
        justify-content: space-between;
        position: relative;
        ul{
            
        }
        
        &:hover{
            > li > a{
                opacity: .3;
            }
        }
        > li{
            display: flex;
            > ul{
                display: flex;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                gap: 80px;
                background: #fff;
                padding: 0;
                margin: 0;
                list-style-type: none;
                top: 100px;
                left: 0;
                right: 0;
                z-index: 100;
                padding: 40px;
                //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
                box-shadow: 0px 8px 48px 2px rgba(0, 0, 0, 0.12);
                transition: $transition;
                ul{
                    display: flex;
                }
                > li{
                    display: flex;
                    flex-direction: column;
                    gap: 26px;
                    font-size: 15px;
                    line-height: 18px;
                    align-items: flex-start;
                    > a{
                        font-family: $f700;
                        position: relative;
                        font-size: 17px;
                        &:before{
                            content: '';
                            width: 0;
                            height: 1px;
                            position: absolute;
                            bottom: -3px;
                            right: 0;
                            background: $text-color;
                            transition: all 0.2s ease-in-out;
                        }
                        &:hover{
                            &:before{
                                width: 100%;
                                left: 0;
                            }
                        }
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                        align-items: flex-start;
                        li{
                            a{
                                position: relative;
                                opacity: .6;
                                display: inline-block;
                                &:before{
                                    content: '';
                                    width: 0;
                                    height: 1px;
                                    position: absolute;
                                    bottom: -3px;
                                    right: 0;
                                    background: $text-color;
                                    transition: all 0.2s ease-in-out;
                                }
                                &:hover{
                                    color: #000;
                                    opacity: 1;
                                    &:before{
                                        width: 100%;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:hover{
                > a{
                    color: #000;
                    opacity: 1;
                }
                > ul{
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
            > a{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                color: #5C5C5C;
                transition: $transition;
                cursor: default;
                &:hover{
                    
                }
            }
        }
    }
    .nav li ul .nav__back{
        display: none;
    }
    .nav li.nav-contact{
        display: none;
    }
}
@media only screen and (max-width: 1280px) {
    
// hamburger
    #hamburger {
        width: 24px;
        height: 18px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #hamburger span:first-child {
        top: 0;
        transform-origin: left center;
    }
    #hamburger span:nth-child(2) {
        top: 8px;
        transform-origin: left center;
    }
    #hamburger span:nth-child(3) {
        top: 16px;
        transform-origin: left center;
    }
    #hamburger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #hamburger.open span:first-child {
        transform: rotate(45deg);
        top: 0;
        left: 4px;
    }
    #hamburger.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }
    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 17px;
        left: 4px;
    }
// end hamburger

body {
    font-size: 14px;
    line-height: 17px;
}
.container {
    width: 100%;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.nav{
    gap: 30px;
    > li:last-child{
        ul{
             display: grid;
             grid-template: 1fr 1fr/auto auto;
             gap: 20px;
        }
    }
}
.search__field:focus, .search__field:not(:placeholder-shown) {
    width: 180px;
}
.intro__title{
    font-size: 54px;
    line-height: 58px;
}
.intro__subtitle {
    font-size: 34px;
    line-height: 44px;
}
.intro__pic {
    border-radius: 30px;
}
.intro {
    padding: 28px 0 60px;
}
.terms {
    padding: 60px 0;
}
.title_h2 {
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 40px;
}
.poster__list {
    grid-template: 1fr 1fr/1fr 1fr;
    padding: 60px 0;
}
.poster__item:last-child{
    grid-area: 2/1/3/3;
}
.poster__num {
    font-size: 55px;
}
.poster__desc {
    font-size: 20px;
    line-height: 23px;
}
.cat {
    padding: 60px 0;
}
.cat__item {
    border-radius: 30px;
}
.cat__name {
    font-size: 20px;
}
.cat__item:nth-child(1) .cat__name {
    top: 23px;
    left: 32px;
    transform: none;
    font-size: 32px;
}
.cat__item:nth-child(2) .cat__name {
    bottom: 29px;
    right: 28px;
    font-size: 35px;
    line-height: 42px;
}
.why {
    padding: 60px 0;
}
.why__desc {
    padding: 32px;
}
.why__title {
    font-size: 18px;
    line-height: 21px;
}
.why__text {
    font-size: 16px;
    line-height: 18px;
}
.review {
    padding: 60px 0;
    margin: 0 -7px;
}
.review__item {
    margin: 0 7px;
    border-radius: 30px;
}
.slick-dots li{
    width: 10px;
    height: 10px;
    margin: 0 7px;
    button{
        background: #C6C6C6;
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }
    &.slick-active{
        button{
            background: #B8FF3C;
        }
    }
} 
.slick-dots li button::before{
    display: none;
}
.slick-dotted.slick-slider {
    margin-bottom: 62px;
}
.slick-dots {
    bottom: -32px;
}
.btn_big {
    font-size: 16px;
    line-height: 16px;
    height: 46px;
    padding: 0 46px;
}
.popular {
    padding: 60px 0;
}
.popular__list {
    gap: 32px 14px;
}
.popular__pic {
    max-width: 200px;
    max-height: 220px;
}
.popular__picwrap {
    border-radius: 30px;
    height: 300px;
    margin-bottom: 16px;
}
.footer__logo {
    width: 160px;
}
.footer__menu {
    display: grid;
    grid-template: 1fr/160px auto 160px;
    gap: 7vw;
}
.footer__nav-col {
    padding-left: 50px;
    &:first-child{
        padding: 0;
    }
}
.footer__nav{
    justify-content: center;
}
.footer {
    padding: 60px 0 28px;
}

.intro__pic {
    width: 100%;
    height: 300px;
}
































}

@media only screen and (max-width: 768px) {
.header, .header-navgroup {
    height: 60px;
}
.header-navgroup{
    align-items: center;
}

.header-nav, .header-contact{
    display: none;
}
.header__btn {
    display: block;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}
.subheader {
    height: 60px;
    gap: 0;
    grid-template-columns: 1fr 1fr;
}
.header-logo{
    display: none;
}
.header-logo_min {
    display: block;
    width: 114px;
    height: 15px;
    background: url(../img/logo_footer.svg) no-repeat center center/contain;
}
.search__field {
    border: 1px solid $text-color;
    border-radius: 40px;
    height: 32px;
    padding: 0 40px;
    width: 180px;
    font-size: 12px;
    &::placeholder{
        font-size: 12px;
        line-height: 32px;
    }
}
.search__field:focus, .search__field:not(:placeholder-shown) {
    width: 180px;
}
.search::after {
    top: 9px;
}
.btn_basket-text{
    display: none;
}
.btn__icon{
    display: block;
}
.btn_login{
    padding: 0;
    background: transparent;
    &:hover{
        background: transparent;
    }
}
.btn_basket, .btn_login{
    width: 32px;
    height: 32px;
}
.btn_basket::before{
    display: none;
}
.nav{
    display: none;
}
.action{
    gap: 12px;
    transform: translateX(5px);
}
.btn_basket-label {
    top: -3px;
    left: auto;
    right: -8px;
    z-index: 10;
}
.intro {
    padding: 42px 0 0 !important;
}
.intro__title {
    font-size: 37px;
    line-height: 38px;
    margin-bottom: 0;
}
.intro__subtitle {
    font-size: 22px;
    line-height: 29px;
}
.intro__nav{
    display: none;
}
.intro__desc {
    width: 100%;
}
.intro__picwrap{

}
.intro__pic {
  border-radius: 20px;
  height: 184px;
  width: 100%;
  object-fit: cover;
}
.slider_intro.slick-dotted.slick-slider{
    margin-bottom: 72px;
}
.article{
    padding: 42px 0;
}
.title_h2 {
    font-size: 24px;
    line-height: 32px;
}
.terms {
    grid-template: auto auto/1fr;
    gap: 24px;
}
.terms__list{
    grid-area: auto;
}
.terms__list li{
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.04em;
    padding-left: 43px;
    width: 276px;
    &:before {
        width: 22px;
        height: 22px;
        top: 5px;
        left: 0px;
    }
}
.poster__list{
    padding: 0;
    grid-template: 1fr 1fr 1fr/1fr;
}
.poster__item:last-child {
    grid-area: auto;
}
.poster__item{
    flex-direction: column;
    gap: 14px;
}
.poster__num {
    font-size: 28px;
    line-height: 27px;
}
.poster__desc {
    font-size: 14px;
    line-height: 17px;
    width: 200px;
    text-align: center;
}
.cat{
    gap: 10px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}
.cat__item {
    border-radius: 20px;
}
.cat__item:nth-child(2) {
    grid-column: 1/span 2;
    order: 3;
    .cat__name {
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;
        transform: translate(-50%, -50%);
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    } 
}
.cat__item:nth-child(1) {
    order: 1;
    .cat__name {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        line-height: 20px;
    }  
}
.cat__item:nth-child(3) {
    order: 2;
}
.cat__item:nth-child(4) {
    order: 4;
}
.cat__item:nth-child(5) {
    order: 5;
}
.cat__name {
    font-size: 14px;
    line-height: 20px;
}
.title_h2 {
    margin-bottom: 24px;
}
.why__wrap {
    grid-template: auto auto auto/1fr;
    gap: 10px;
}
.why__pic {
    grid-area: auto;
    order: 1;
    height: 40vw;
    border-radius: 20px;
}
.why__desc{
    order: 2;
    border-radius: 20px;
    padding: 22px 20px;
}
.why__title, .why__text {
    font-size: 14px;
    line-height: 16px;
}
.why__title{
    margin-bottom: 5px;
}
.slider.slider_review{
    margin: 0 -20px 62px;
}
.review__item {
    margin: 0 5px;
    border-radius: 20px;
    padding: 14px 12px;
}
.review__picwrap {
    width: 30px;
    height: 30px;
    margin-bottom: 7px;
}
.review__pic{
    width: 15px;
    height: 15px;
}
.review__name {
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 7px;
}
.review__text {
    font-size: 14px;
    line-height: 16px;
}
.btn_big {
    font-size: 12px;
    line-height: 12px;
    height: 46px;
    padding: 16px 20px;
}
.popular{
    .title_h2{
        width: 200px;
    }
}
.popular__picwrap {
    border-radius: 20px;
    height: 180px;
    margin-bottom: 8px;
}
.popular__name{
    font-size: 14px;
    line-height: 17px;
    padding: 0 5px;    
}
.popular__pic {
    max-width: 125px;
    max-height: 145px;
}
.popular__list {
    grid-template: repeat(3, auto)/repeat(2, 1fr);
    gap: 16px 10px;
}
.popular__item:hover .popular__picwrap {
    border-color: $text-color;
    box-shadow: none;
}
.popular__item:hover .popular__name {
    color: $text-color;
}
.footer {
    padding: 42px 0 32px;
}
.footer__menu {
    display: grid;
    grid-template: auto auto auto/1fr;
    gap: 24px;
}
.footer__logo{
    order: 1;
    width: 141px;
    height: 19px;
}
.footer__nav{
    order: 3;
    justify-content: flex-start
}
.footer-contact{
    order: 2;
    margin-bottom: 6px;
    gap: 8px;
}
.footer-contact__tel {
    font-size: 14px;
    line-height: 17px
}
.footer-contact__address {
    font-size: 11px;
    line-height: 14px;
}
.footer__nav-col {
    gap: 22px;
}
.footer__nav-link {
    font-size: 13px;
    line-height: 15px
}
.footer__nav-col {
    padding-left: 47px;
}
.footer__menu {
    padding-bottom: 28px;
}
.footer__copy {
    font-size: 10px;
    line-height: 12px;
}
.nav.vis {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 20;
    overflow-y: auto;
    padding: 20px;
    gap: 0px;
    li{
        align-items: stretch;
        ul{
            display: none;
        }
        a{
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 17px;
            text-transform: uppercase;
        }
    }
    > li{
        display: flex;
        min-height: 46px;
        
    }
    .vis{
        > ul{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 120px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            z-index: 30;
            overflow-y: auto;
            padding: 20px;
            gap: 0px;
            > li{
                display: flex;
                min-height: 46px;
            }
        }
    }
}
.nav__back{
    display: flex;
    text-transform: uppercase;
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    align-items: center!important;
    cursor: pointer;
    align-self: flex-end;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 29px;
        height: 29px;
        background: url(../img/back.svg) no-repeat center center / contain;
        top: 8px;
        left: 5px;
    }
}
.nav li.nav-contact{
    display: flex;
    flex-direction: column;
    ul{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        border-top: 1px solid #292929;
        margin: 20px 0 30px;
        li{
            a{
                text-transform: none;
            }
        }
    }
    .nav-contact__address{
        padding-bottom: 30px;
    }
    .nav-contact__tel{
        font-family: $f700;
        margin-bottom: 10px;
    }
}
.intro__pic {
    width: 100%;
    height: 200px;
}






}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 360px) {

}