@font-face {
    font-family: 'NeutralFace';
    src: url('../fonts/NeutralFace.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NeutralFace-Bold';
    src: url('../fonts/NeutralFace-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: local('../fonts/HelveticaNeueCyr-Light'),
        url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: local('../fonts/HelveticaNeueCyr-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: local('../fonts/HelveticaNeueCyr-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';
@import '_animate';


body {
    font-family: $f400;
    color: $text-color;
    font-size: 20px;
    line-height: 24px;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.header {
    background: $text-color;
    height: 42px;
}
.header-navgroup {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-family: $f300;
    color: #fff !important;
}
.header-nav {
    display: flex;
    gap: 42px;
    &__link {
        color: #fff !important;
        height: 42px;
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
}
.link{
    &:before{
        content: '';
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 10px;
        right: 0;
        background: #fff;
        transition: all 0.2s ease-in-out;
    }
    &:hover{
        &:before{
            width: 100%;
            left: 0;
        }
    }
}
.header-logo {
    display: block;
    width: 150px;
    height: 20px;
    background: url(../img/logo.svg) no-repeat center center / contain;
    &_min {
        display: none;
    }
}
.header-contact {
    &__address {
        color: #fff !important;
        height: 42px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
.header {
    &__btn {
        display: none;
    }
}
.subheader {
    height: 88px;
    gap: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    border-bottom: 1px solid $text-color;
}
.search {
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        background: url(../img/icon_search.svg) no-repeat center center / contain;
        top: 13px;
        left: 15px;
        z-index: -1;
    }
    &__field {
        border: 1px solid transparent;
        border-radius: 40px;
        height: 40px;
        padding: 0 40px;
        display: flex;
        align-items: center;
        transition: $transition;
        width: 100px;
        cursor: pointer;
        background: transparent;
        padding-right: 0;
        font-size: 16px;
        &::placeholder {
            color: #9B9B9B;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 18px;
            font-family: $f300;
            opacity: 1;
        }
        &:focus, &:not(:placeholder-shown) {
            border: 1px solid #5C5C5C;
            width: 400px;
            padding-right: 40px;
            cursor: text;
            font-size: 16px;
        }
    }
}
.action {
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    font-size: 16px;
    line-height: 16px;
    font-family: $f700;
    transition: $transition;
    background: #B8FF3C;
    border-radius: 40px;
    height: 40px;
    text-transform: uppercase;
    &:hover{
        background: #92E801;
    }
    &_big{
        font-size: 20px;
        line-height: 16px;
        height: 64px;
        padding: 0 56px;
    }
    &_basket {
        height: auto;
        padding: 0;
        background: transparent;
        position: relative;
        font-family: $f400;
        &:before{
            content: '';
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -5px;
            right: 0;
            background: $text-color;
            transition: all 0.2s ease-in-out;
        }
        &:hover{
            background: transparent;
            &:before{
                width: 100%;
                left: 0;
            }
        }
    }
    &_basket-label {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 12px;
        background: #B8FF3C;
        top: -2px;
        left: -26px;
        border-radius: 50%;
    }
    &__icon {
        display: none;
    }
    &_basket-text {}
    &_login {}
}
.nav {
    height: 84px;
    display: flex;
    justify-content: space-between;
    position: relative;
    ul{
        
    }
    
    &:hover{
        > li > a{
            opacity: .3;
        }
    }
    > li{
        display: flex;
        > ul{
            display: flex;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            gap: 80px;
            background: #fff;
            padding: 0;
            margin: 0;
            list-style-type: none;
            top: 100px;
            left: 0;
            right: 0;
            z-index: 100;
            padding: 40px;
            //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 8px 48px 2px rgba(0, 0, 0, 0.12);
            transition: $transition;
            ul{
                display: flex;
            }
            > li{
                display: flex;
                flex-direction: column;
                gap: 26px;
                font-size: 15px;
                line-height: 18px;
                align-items: flex-start;
                > a{
                    font-family: $f700;
                    position: relative;
                    font-size: 17px;
                    &:before{
                        content: '';
                        width: 0;
                        height: 1px;
                        position: absolute;
                        bottom: -3px;
                        right: 0;
                        background: $text-color;
                        transition: all 0.2s ease-in-out;
                    }
                    &:hover{
                        &:before{
                            width: 100%;
                            left: 0;
                        }
                    }
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    li{
                        a{
                            position: relative;
                            opacity: .6;
                            &:before{
                                content: '';
                                width: 0;
                                height: 1px;
                                position: absolute;
                                bottom: -3px;
                                right: 0;
                                background: $text-color;
                                transition: all 0.2s ease-in-out;
                            }
                            &:hover{
                                color: #000;
                                opacity: 1;
                                &:before{
                                    width: 100%;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:hover{
            > a{
                color: #000;
                opacity: 1;
            }
            > ul{
                opacity: 1;
                visibility: visible;
                top: 100%;
            }
        }
        > a{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #5C5C5C;
            transition: $transition;
            &:hover{
                
            }
        }
    }
}
.article {
}
.intro {
    padding: 28px 0 80px;
    border-bottom: 1px solid $text-color;
    &__item {}
    &__desc {
        width: 560px;
    }
    &__title {
        font-size: 74px;
        line-height: 74px;
        font-family: $n700;
        margin-bottom: 12px;
    }
    &__subtitle {
        font-size: 44px;
        line-height: 58px;
        font-family: $n400;
        letter-spacing: 0.02em;
        margin-bottom: 20px;
        strong{
            font-family: $n700;
            font-weight: 400;
        }
    }
    &__picwrap{
        position: relative;
    }
    &__pic {
        width: 100%;
        border-radius: 40px;

    }
    &__nav {
        width: 40px;
        height: 40px;
        position: absolute;
        top: -54px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 39px;
            height: 16px;
            transition: $transition;
        }
        &_prev{
            right: 65px;
        }
        &_next{
            right: 0;
        }
        &:hover{
            svg{
                fill: #B8FF3C;
            }
        }
    }
}
.slider {
    &_intro {}
    &_review {
        margin-bottom: 44px;
    }
}
.terms {
    padding: 80px 0 70px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    &__title {
        grid-area: 1 / 1 / 2 / 2;
        margin-bottom: 0 !important;
    }
    &__list {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        li{
            letter-spacing: 0.04em;
            text-transform: uppercase;
            padding-left: 50px;
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                width: 29px;
                height: 29px;
                background: url(../img/icon_list.svg) no-repeat center center / contain;
                top: -3px;
                left: 0px;
            }
        }
    }
}
.title {

    &_h2 {
        font-size: 42px;
        line-height: 56px;
        letter-spacing: 0.02em;
        font-family: $n400;
        margin-bottom: 62px;
    }
}
.poster {
    background: $text-color;
    
    &__list {
        display: grid;
        grid-template: 1fr / 1.2fr 1.5fr 1fr;
        padding: 100px 0;
        gap: 44px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
    }
    &__num {
        font-size: 60px;
        line-height: 59px;
        letter-spacing: 0.02em;
        color: #B8FF3C;
        font-family: $n700;
    }
    &__desc {
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: $f300;
        transform: translateY(3px);
    }
}
.cat {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding: 80px 0;
    gap: 20px;
    &__item {
        background: #000;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            top: 0px;
            left: 0px;
            opacity: .4;
            transition: $transition;
        }
        &:hover{
            &:after{
                background: #fff;
                opacity: .3;
            }
            .cat__pic{
                transform: scale(1.1);
            }
        }
        &:nth-child(1){
            .cat__name{
                top: 52px;
                left: 46px;
                transform: none;
                font-size: 42px;
            }
        }
        &:nth-child(2){
            //grid-area: 1/2/2/4;
            grid-column: 2/span 2;
            .cat__name{
                top: auto;
                left: auto;
                bottom: 40px;
                right: 46px;
                transform: none;
                font-size: 42px;
            }
        }
    }
    &__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $transition05;
    }
    &__name {
        position: relative;
        z-index: 10;
        position: absolute;
        font-size: 32px;
        line-height: 56px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        font-family: $n700;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.why {
    background: $text-color;
    padding: 80px 0;
    color: #fff;
    &__wrap {
        display: grid;
        grid-template: auto 1fr / 1fr 1fr;
        gap: 20px;
    }
    &__desc {
        border: 2px solid #B8FF3C;
        border-radius: 40px;
        padding: 40px;
        text-transform: uppercase;
    }
    &__title {
        letter-spacing: 0.04em;
        font-family: $f700;
        font-size: 20px;
        line-height: 24px;
    }
    &__text {
        font-family: $f300;
        letter-spacing: 1.5px;
        font-size: 20px;
        line-height: 24px;
    }
    &__pic {
        //grid-area: 1/2/3/ 3;
        grid-row: 1/span 2;
        grid-column: 2/3; 
        border-radius: 40px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.review {
    padding: 80px 0;
    border-bottom: 1px solid $text-color;
    .slick-track {
        display: flex;
    }
    &__item {
        margin: 0 10px;
        border: 1px solid $text-color;
        border-radius: 40px;
        padding: 30px;
        height: unset;
    }
    &__picwrap{
        width: 68px;
        height: 68px;
        background: #CFFF7B;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    &__pic {
        
    }
    &__name {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 16px;
        font-family: $f700;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__text {
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.04em;
    }
}
.popular {
    padding: 80px 0 140px;
    &__list {
        display: grid;
        grid-template: repeat(2, auto)/repeat(3, 1fr);
        gap: 68px 20px;
        align-items: start;
    }
    &__item {
        &:hover{
            .popular__picwrap{
                border-color: #B8FF3C;
                box-shadow: inset 0 0 0 4px #B8FF3C;
            }
            .popular__pic{
                transform: scale(1.1);
            }
            .popular__name{
                color: #B8FF3C;
            }
        }
    }
    &__picwrap {
        border: 1px solid #292929;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 420px;
        margin-bottom: 32px;
        transition: $transition;
    }
    &__pic {
        max-width: 260px;
        max-height: 300px;
        display: block;
        transition: $transition05;
    }
    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-family: $f700;
        text-align: center;
    }
}
.footer {
    background: $text-color;
    padding: 80px 0;
    color: #fff;
    &__menu {
        display: grid;
        grid-template: 1fr/220px auto 270px;
        gap: 20px;
        align-items: start;
        padding-bottom: 46px;
        border-bottom: 1px solid #949494;
        margin-bottom: 28px;
    }
    &__logo {
        display: block;
        width: 220px;
        height: 30px;
        background: url(../img/logo_footer.svg) no-repeat center center/contain;
    }
    &__nav {
        display: flex;
    }
    &__nav-col {
        flex-direction: column;
        display: flex;
        gap: 20px;
        padding-left: 112px;
        align-items: flex-start;
    }
    &__nav-link {
        color: #fff !important;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        &:before{
            content: '';
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #B8FF3C;
            transition: all 0.2s ease-in-out;
        }
        &:hover{
            color: #B8FF3C !important;
            &:before{
                width: 100%;
                left: 0;
            }
        }
    }
    &__copy {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        font-family: $f300;
        display: flex;
    }
    &__copylink {
        a{
            color: #B8FF3C !important;
            position: relative;
            &:before{
                content: '';
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: -3px;
                left: 0;
                background: #B8FF3C;
                transition: all 0.2s ease-in-out;
            }
            &:hover{
                color: #fff !important;
                &:before{
                    width: 0;
                    right: 0;
                    left: auto;
                }
            }
        }
        
    }
}
.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    &__tel {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #B8FF3C;
        font-family: $f700;
        &:before{
            content: '';
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            right: 0;
            background: #fff;
            transition: all 0.2s ease-in-out;
        }
        &:hover{
            color: #fff;
            &:before{
                width: 100%;
                left: 0;
            }
        }
    }
    &__address {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
}
.scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: -50px;
    right: 30px;
    background-image: url(../img/icon_top.svg);
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    &.vis {
        bottom: 50px;
        right: 30px;
        opacity: 1;
        z-index: 6;
    }
}






























@import '_query';